*/archive/*
_site/*
syllabus-CHEM-8/pandoc-builds/*
syllabus-CHEM-128A/pandoc-builds/*
syllabus-CHEM-128B/pandoc-builds/*
syllabus-CHEM-129A/pandoc-builds/*
syllabus-CHEM-129B/pandoc-builds/*
syllabus-CHEM-240T/pandoc-builds/*
syllabus-CHEM-180H-280/pandoc-builds/*
syllabus-CHEM-160H260/pandoc-builds/*
*.DS_Store
*.rtf
*.odt
*.epub
*.indd
*.xlsx
*.pdf
*.docx
*.doc
*.jpg
*.jpeg
*.sublime*
