_site/*
syllabus-CHEM-128A/pandoc-builds/*
syllabus-CHEM-128A/*.pdf
syllabus-CHEM-128A/*.png
syllabus-CHEM-128A/.DS_Store
.DS_Store
*.rtf
*.odt
*.epub
*.indd
*.xlsx
*.pdf
*.docx
syllabus-CHEM-128A/syllabus-128A-2019su.docx
_current_syllabus-128A-2019su.pdf
